In [70]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import requests
import io
import time
from collections import Counter
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.cluster import AgglomerativeClustering
from sklearn.linear_model import LogisticRegression, Perceptron
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score, accuracy_score, classification_report

In [71]:
def load_dataset(csv_url):
  return pd.read_csv(csv_url)

general_data = load_dataset("https://raw.githubusercontent.com/NicolasDrapier/ProjetIA/main/general_data.csv")
employee_survey_data = load_dataset("https://raw.githubusercontent.com/NicolasDrapier/ProjetIA/main/employee_survey_data.csv")
manager_survey_data = load_dataset("https://raw.githubusercontent.com/NicolasDrapier/ProjetIA/main/manager_survey_data.csv")
in_data = load_dataset("https://raw.githubusercontent.com/NicolasDrapier/ProjetIA/main/in_time.csv")
out_data = load_dataset("https://raw.githubusercontent.com/NicolasDrapier/ProjetIA/main/out_time.csv")

In [72]:
data = pd.merge(general_data, employee_survey_data, on='EmployeeID')
data = pd.merge(data, manager_survey_data, on='EmployeeID')
data.set_index('EmployeeID', inplace=True)

In [73]:
data.head()

            Age Attrition  ... JobInvolvement PerformanceRating
EmployeeID                 ...
1            51        No  ...              3                 3
2            31       Yes  ...              2                 4
3            32        No  ...              3                 3
4            38        No  ...              2                 3
5            32        No  ...              3                 3

[5 rows x 28 columns]

In [74]:
data['NumCompaniesWorked'].fillna(0, inplace=True)
data['JobSatisfaction'].fillna(data['JobSatisfaction'].median(), inplace=True)
data['EnvironmentSatisfaction'].fillna(data['EnvironmentSatisfaction'].median(), inplace=True)
data['WorkLifeBalance'].fillna(data['WorkLifeBalance'].median(), inplace=True)

for index, row in data[data['TotalWorkingYears'].isna()].iterrows():
  data.at[index, 'TotalWorkingYears'] = data.loc[data['Age'] == row['Age']]['TotalWorkingYears'].median()

In [75]:
data.drop(['StandardHours', 'EmployeeCount', 'Over18'], axis=1, inplace=True)

In [76]:
data.replace({'No': 0, 'Yes':1}, inplace=True)

In [77]:
data.head()

            Age  Attrition  ... JobInvolvement PerformanceRating
EmployeeID                  ...
1            51          0  ...              3                 3
2            31          1  ...              2                 4
3            32          0  ...              3                 3
4            38          0  ...              2                 3
5            32          0  ...              3                 3

[5 rows x 25 columns]

In [78]:
le = LabelEncoder()
categories = ['BusinessTravel', 'Gender']
for c in categories:
  data[c] = le.fit_transform(data[c])

In [79]:
data.head()

            Age  Attrition  ...  JobInvolvement PerformanceRating
EmployeeID                  ...
1            51          0  ...               3                 3
2            31          1  ...               2                 4
3            32          0  ...               3                 3
4            38          0  ...               2                 3
5            32          0  ...               3                 3

[5 rows x 25 columns]

In [80]:
in_data.dropna(axis=1, how='all', inplace=True)
out_data.dropna(axis=1, how='all', inplace=True)
in_data.rename(columns={"Unnamed: 0": "EmployeeID"}, inplace=True)
out_data.rename(columns={"Unnamed: 0": "EmployeeID"}, inplace=True)
in_data.set_index("EmployeeID", inplace=True)
out_data.set_index("EmployeeID", inplace=True)

In [81]:
for col in in_data.columns:
  in_data[col] = pd.to_datetime(in_data[col], errors='coerce', format='%Y-%m-%d %H:%M:%S')
  out_data[col] = pd.to_datetime(out_data[col], errors='coerce', format='%Y-%m-%d %H:%M:%S')

In [82]:
t = out_data-in_data
b = t.mean(axis=1)
m = pd.DataFrame(b, columns=["MeanTimeAtWorkByYear"])
m

                MeanTimeAtWorkByYear
EmployeeID
1          0 days 07:22:25.142241379
2          0 days 07:43:08.288135593
3          0 days 07:00:47.665289256
4          0 days 07:11:37.242553191
5          0 days 08:00:22.228571428
...                              ...
4406       0 days 08:31:20.197530864
4407       0 days 06:05:34.634854771
4408       0 days 07:42:23.874458874
4409       0 days 09:29:33.340248962
4410       0 days 06:59:20.211206896

[4410 rows x 1 columns]

In [83]:
l = [row['MeanTimeAtWorkByYear'].total_seconds() for i, row in m.iterrows()]
l = [x/3600 for x in l]
m['MeanTimeAtWorkByYear'] = l
m

            MeanTimeAtWorkByYear
EmployeeID
1                       7.373651
2                       7.718969
3                       7.013240
4                       7.193678
5                       8.006175
...                          ...
4406                    8.522277
4407                    6.092954
4408                    7.706632
4409                    9.492595
4410                    6.988948

[4410 rows x 1 columns]

In [84]:
encoded = pd.get_dummies(data.copy(), ['Department', 'EducationField', 'JobRole', 'MaritalStatus'])
encoded.head()

            Age  Attrition  ...  MaritalStatus_Married  MaritalStatus_Single
EmployeeID                  ...
1            51          0  ...                      1                     0
2            31          1  ...                      0                     1
3            32          0  ...                      1                     0
4            38          0  ...                      1                     0
5            32          0  ...                      0                     1

[5 rows x 42 columns]

In [86]:
encoded = pd.merge(encoded, m, on="EmployeeID")
encoded.shape

(4410, 43)

In [87]:
encoded

            Age  Attrition  ...  MaritalStatus_Single  MeanTimeAtWorkByYear
EmployeeID                  ...
1            51          0  ...                     0              7.373651
2            31          1  ...                     1              7.718969
3            32          0  ...                     0              7.013240
4            38          0  ...                     0              7.193678
5            32          0  ...                     1              8.006175
...         ...        ...  ...                   ...                   ...
4406         42          0  ...                     1              8.522277
4407         29          0  ...                     0              6.092954
4408         25          0  ...                     0              7.706632
4409         42          0  ...                     0              9.492595
4410         40          0  ...                     0              6.988948

[4410 rows x 43 columns]

In [88]:
encoded.to_csv('./mix_encoded.csv')